
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
body {font-family: "Lato", sans-serif;}

.sidebar {
  height: 100%;
  width: 220px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 16px;
}

.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 225px; /* Same as the width of the sidenav */
  padding: 0px 10px;
}

@@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
    </style>
</head>
<body>

    <div class="sidebar">

        <a href="#home"><i class="fa fa-fw fa-home"></i> Home</a>
        <a href="/Category/Index/"><i class="fa fa-fw fa-list"></i> Kategoriler</a>
        <a href="/Book/Index/"><i class="fa fa-fw fa-book"></i> Kitaplar</a>
        <a href="/Author/Index/"><i class="fa fa-fw fa-pencil"></i> Yazarlar</a>
        <a href="/Member/Index/"><i class="fa fa-fw fa-users"></i> Üyeler</a>
        <a href="/Staff/Index/"><i class="fa fa-fw fa-user"></i> Personeller</a>
        @if(User.IsInRole("A")) 
        {
        <a href="/Action/lend/"><i class="fa fa-fw fa-caret-square-o-up"></i> Ödünç Kitap Ver</a>
        <a href="/Action/Index/"><i class="fa fa-fw fa-caret-square-o-down"></i> Ödünç Kitap Al</a>
        }
        <a href="/Notice/Index/"><i class="fa fa-fw fa-bullhorn"></i> Duyurular</a>
        <a href="/Statistics/Index/"><i class="fa fa-fw fa-sort"></i> İstatistikler</a>
        <a href="/Process/Index/"><i class="fa fa-fw fa-dashboard"></i> İşlemler</a>
        <a href="/Statistics/Gallery/"><i class="fa fa-fw fa-file-image-o"></i> Galeri</a>
        <a href="/Statistics/Cart/"><i class="fa fa-fw fa-bookmark"></i>Kartlar</a>
        <a href="/Showcase/Index/"><i class="fa fa-fw fa-gift"></i> Vitrin</a>
        <a href="/Statistics/Weather/"><i class="fa fa-fw fa-cloud"></i> Hava Durumu</a>
        <a href="/Statistics/WeatherCart/"><i class="fa fa-fw fa-cloud-download"></i> Hava Kartları</a>
        <a href="/Graphic/Index/"><i class="fa fa-area-chart"></i> Grafikler</a>
        <a href="/Login/login/"><i class="fa fa-fw fa-handshake-o"></i> Yardım</a>
        <a href="/Settings/Index/"><i class="fa fa-fw fa-yelp"></i> Ayarlar</a>
        <a href="/Panel/LogOut/"><i class="fa fa-fw fa-window-close"></i> Çıkış</a>

    </div>

    <div class="main">
        @RenderBody()
    </div>

</body>
</html>
