@model Library.Models.Entity.PERSONEL
@{
    ViewBag.Title = "staffFind";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@using (Html.BeginForm("staffUpd" ,"Staff",FormMethod.Post))
    {
        <div style="margin-bottom:15px"></div>
        <div class="form-group">
            @Html.LabelFor(p=>p.PERSONEL_ID)
            @Html.TextBoxFor(p=>p.PERSONEL_ID, new { @class = "form-control" })
            <br />
            <label>Personel Adı</label>
            @Html.TextBoxFor(p=>p.PERSONEL_NAME, new { @class="Form-control"})
        </div>
        <div>
            <button class="btn btn-warning">Güncelle</button>
        </div>
    }
